{% extends '_layout.html' %}

{% block title %}Movie Rating App | All Movies{% endblock %}

{% block body %}
<h1 class="mb-5">All Movies</h1>
<p class="mb-3">See our list of movie ratings below</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Movie Title</th>
            <th scope="col">Director</th>
            <th scope="col">Rating</th>
        </tr>
    </thead>
    <tbody>
        {%for movies in movies%}
        <tr>
            <td>{{movies.title}}</td>
            <td>{{movies.director}}</td>
            <td>{{movies.rating}}</td>
        </tr>
        {%endfor%}
    </tbody>
</table>
{% endblock %}
